<div class="container">
  <div class="">
    <%= form_for(@url)  do |f| %>

      <%= f.text_field :longURL, class: "input-xxlarge search-query" %>

      <%= f.submit "Shorten my URL", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container" data-no-turbolink>
	<h1>Total <%= Url.count %> URLs</h1>

		<%= will_paginate %> 

    <ul class="unstyled">
	     <%= render @urls %>  
    </ul>
    
    <%= will_paginate %> 
	
</div>